<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!------------------------------ HEAD ------------------------------>
<head th:fragment="head">
    <meta charset="UTF-8">
    <!--/*/ <th:block th:include="general.html :: head">
        </th:block> /*/-->
</head>
<body>

<!-------------------------- MODAL FORM WRAPPER -------------------------->
<div class="passwordForm" th:fragment="passwordModal">

    <!-------------------------- FORM -------------------------->
    <form action="#" method="post">

        <!-------------------------- MODAL -------------------------->
        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelCreate"
             aria-hidden="true">

            <!-------------------------- MODAL DIALOG -------------------------->
            <div class="modal-dialog modal-dialog-centered" role="document">

                <!-------------------------- MODAL CONTENT -------------------------->
                <div class="modal-content">

                    <!-------------------------- MODAL HEADER -------------------------->
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabelCreate">Change Password</h5>
                        <button type="button" class="close exitBtn" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-------------------------- MODAL BODY -------------------------->
                    <div class="modal-body">
                        <!--<p class="alert alert-info">-->
                        <!--All fields are required.-->
                        <!--</p>-->

                        <input type="hidden" id="username" name="username" value=""/>

                        <div class="form-group">
                            <label for="password" class="col-form-label">Current Password:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Current password"
                                   required/>
                        </div>

                        <div class="form-group">
                            <label for="newPassword" class="col-form-label">New Password:</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword"
                                   placeholder="New Password"
                                   required/>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword" class="col-form-label">Confirm Password:</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                   placeholder="Confirm password"
                                   required/>
                        </div>
                    </div>

                    <!-------------------------- MODAL FOOTER -------------------------->
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" id="passwordSubmitBtn" value="Save"/>
                        <button type="button" class="btn btn-secondary exitBtn">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>