@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.page-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.timestamp {
    font-size: 12px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

/* ------------------------------ DATA TABLES ------------------------------ */
/* For search box */
.dataTables_filter input {
    border-radius: 5px;
}

/* Remove horizontal line from table header */
table.dataTable thead th {
    border-bottom: 0;
}

/* Remove horizontal line from bottom of table */
table.dataTable.no-footer {
    border-bottom: 0 !important;
}