<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Account Settings</title>

    <!--/*/ <th:block th:include="fragments/general.html :: head">
        </th:block> /*/-->

    <script th:src="@{/js/account.js}"></script>
    <script th:src="@{/js/users.js}"></script>
</head>
<body>
<div class="container-fluid h-100">
    <div th:replace="fragments/general::navbar (${session.userInContext})"></div>

    <!-- Used for retrieving account info via ajax -->
    <div id="userGuid" th:text="${session.userInContext.guid}" hidden></div>

    <div class="row ml-5">
        <div class="col-md-4">
            <!-------------------------- PAGE TITLE CONTENT -------------------------->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">Account Settings</h3>
                </div>
            </div>

            <!-------------------------- ACCOUNT INFO CONTENT -------------------------->

            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-light shadow account-panel">
                        <div class="card-header">
                            <h5>Account Info</h5>
                        </div>
                        <div class="card-body">
                            <!-- Values in this table are loaded via ajax -->
                            <table class="table table-borderless mb-0 account-table">
                                <tr>
                                    <th width="200px">Username:</th>
                                    <td id="username"></td>
                                </tr>
                                <tr>
                                    <th width="200px">First Name:</th>
                                    <td id="firstName"></td>
                                </tr>
                                <tr>
                                    <th width="200px">Last Name:</th>
                                    <td id="lastName"></td>
                                </tr>
                            </table>

                        </div>
                        <div class="card-footer text-right">
                            <button id="editAccountBtn" type="button" class="btn btn-sm btn-dark"><i
                                    class="fa fa-edit"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card bg-light shadow">
                        <div class="card-header">
                            <h5>Settings</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless mb-0">
                                <tr>
                                    <td><a id="changePasswordLink" href="#">Change password</a></td>
                                </tr>
                                <tr>
                                    <td><a id="deleteAccountLink" href="#">Delete account</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/editAccountModal::editAccountModal"></div>
    <div th:replace="fragments/passwordModal::passwordModal"></div>
    <div th:replace="fragments/confirmationModal::confirmationModal ('deleteAccountModal', 'Delete account?')"></div>
    <div th:replace="fragments/general::footer"></div>
</div>
</body>
</html>