<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Account Settings</title>

    <!--/*/ <th:block th:include="fragments/general.html :: head">
        </th:block> /*/-->

</head>
<body>
<div class="container-fluid h-100">
    <div th:replace="fragments/general::navbar (${session.userInContext})"></div>

    <div class="row">
        <form class="col-md-4" th:object="${user}" th:action="@{'/user/' + *{username} + '/edit/info'}" method="post">
            <div class="row">
                <div class="col-md">
                    <h3 class="page-title">Edit Account Info</h3>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label th:for="${#ids.next('username')}">Username</label>
                </div>
                <div class="col-md-8 pl-0 pr-0">
                    <input type="text" class="form-control" th:id="username" th:name="username"
                           th:value="*{username}" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label th:for="${#ids.next('firstName')}">First Name</label>
                </div>
                <div class="col-md-8 pl-0 pr-0">
                    <input type="text" class="form-control" th:errorClass="is-invalid" th:field="*{firstName}"
                           placeholder="First name" required>
                    <div class="invalid-feedback" th:each="error : ${#fields.errors('firstName')}"
                         th:text="${error}"></div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label th:for="${#ids.next('lastName')}">Last Name</label>
                </div>
                <div class="col-md-8 pl-0 pr-0">
                    <input type="text" class="form-control" th:errorClass="is-invalid" th:field="*{lastName}"
                           placeholder="Last name" required>
                    <div class="invalid-feedback" th:each="error : ${#fields.errors('lastName')}"
                         th:text="${error}"></div>
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="row form-group">
                <div class="col-md-4">
                    <label th:for="${#ids.next('username')}">Roles</label>
                </div>
                <div class="col-md-8 pl-0 pr-0">
                    <select multiple class="form-control" th:errorClass="is-invalid" th:field="*{roles}">
                        <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.type}"></option>
                    </select>
                    <div class="invalid-feedback" th:each="error : ${#fields.errors('roles')}" th:text="${error}"></div>
                </div>
            </div>
            <input sec:authorize="!hasRole('ROLE_ADMIN')" th:field="*{roles}" type="hidden">
            <div class="row">
                <div class="col-md-8 offset-md-4">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger btn-block" onclick="window.history.back()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:replace="fragments/general::footer"></div>
</div>
</body>
</html>