<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Administration</title>

    <!--/*/ <th:block th:include="fragments/general.html :: head">
        </th:block> /*/-->

</head>
<body>
<div class="container-fluid h-100">
    <div th:replace="fragments/general::navbar (${session.userInContext})"></div>

    <div class="row ml-5">
        <div class="col-md-8">
            <!-------------------------- PAGE TITLE -------------------------->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">Administration</h3>
                </div>
            </div>

            <!-------------------------- USER ACCOUNT TABLE HEADING -------------------------->
            <div class="row mb-3">
                <div class="col-md">
                    <h5>User Accounts</h5>
                </div>
                <div class="col-md text-right">
                    <a class="btn btn-sm btn-success" th:href="@{/register}">Add User</a>
                </div>
            </div>

            <!-------------------------- USER ACCOUNT TABLE -------------------------->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.username}">dwhite</td>
                            <td th:text="${user.firstName}">Daniel</td>
                            <td th:text="${user.lastName}">White</td>
                            <td>
                                <div class="btn-toolbar">
                                    <a class="btn btn-sm btn-dark"
                                       th:href="@{'/user/' + ${user.username} + '/edit/info'}"><i
                                            class="fa fa-edit"></i></a>
                                    <a class="btn btn-sm btn-dark ml-3"
                                       th:href="@{'/user/' + ${user.username} + '/delete'}"><i
                                            class="fa fa-trash-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/general::footer"></div>
</div>
</body>
</html>