<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Account Login</title>

    <!--/*/ <th:block th:include="fragments/general.html :: head">
        </th:block> /*/-->

    <script th:src="@{/js/login.js}"></script>

</head>
<body>

<div class="container h-100">

    <div id="userRoleVar" th:text="${userRole}" hidden></div>

    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-md-4 offset-md-4" th:action="@{/login}" method="post">
            <div class="row margin-bottom-50">
                <img class="col-md-12" src="../static/images/spring-by-pivotal.png" width="800"
                     th:src="@{/images/spring-by-pivotal.png}"/>
            </div>
            <div class="row form-group">
                <label class="col-md-4" for="usernameInput">Username</label>
                <input type="text" class="col-md-8 form-control" th:classappend="${param.error} ? is-invalid"
                       id="usernameInput" name="username" placeholder="Username" required>
            </div>
            <div class="row form-group">
                <label class="col-md-4" for="passwordInput">Password</label>
                <input type="password" class="col-md-8 form-control" th:classappend="${param.error} ? is-invalid"
                       id="passwordInput" name="password" placeholder="Password" required>
                <div th:if="${param.error}" class="col-md-8 offset-md-4 invalid-feedback text-center">
                    Invalid username or password
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-8 offset-md-4">
                    <input type="submit" class="btn btn-primary btn-block" value="Login"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-4 text-center">
                    <a id="registrationLink" href="#">Register</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-4 text-center">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
        </form>
        <div class="col-md-4"></div>
    </div>

    <div th:replace="fragments/registrationModal::registrationModal"></div>
    <div th:replace="fragments/general::footer"></div>
</div>

</body>
</html>