<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">

    <title>Notes</title>

    <!--/*/ <th:block th:include="fragments/general.html :: head">
        </th:block> /*/-->

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.20/css/jquery.dataTables.css}">
    <script th:src="@{/webjars/datatables/1.10.20/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/notes.js}"></script>

</head>
<body>
<div class="container-fluid h-100">
    <div th:replace="fragments/general::navbar (${session.userInContext})"></div>

    <div id="userGuid" th:text="${session.userInContext.guid}" hidden="hidden"></div>

    <div class="row ml-5">
        <div class="col-md-6">
            <!-------------------------- PAGE TITLE -------------------------->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">Notes</h3>
                </div>
            </div>

            <!-------------------------- NOTE VIEW HEADING -------------------------->
            <div class="row mb-3">
                <div class="col-md">
                    <h5>Note Entries</h5>
                </div>
                <div class="col-md text-right">
                    <button type="button" class="btn btn-sm btn-success" id="addNoteBtn">Add Note</button>
                </div>
            </div>

            <!-------------------------- NOTES -------------------------->
            <div class="row">
                <div class="col-md-12">

                    <!-------------------------- NOTE TABLE -------------------------->
                    <table id="noteTable">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------- MODAL FORM WRAPPER -------------------------->
    <div th:replace="fragments/addNoteModal::addNoteModal"></div>
    <div th:replace="fragments/editNoteModal::editNoteModal"></div>
    <div th:replace="fragments/confirmationModal::confirmationModal ('deleteNoteModal', 'Delete note?')"></div>
    <div th:replace="fragments/general::footer"></div>
</div>
</body>
</html>