<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">

    <title>Notes</title>

    <!--/*/ <th:block th:include="fragments/general.html :: head">
        </th:block> /*/-->

</head>
<body>
<div class="container-fluid h-100">
    <div th:replace="fragments/general::navbar (${session.userInContext})"></div>

    <div class="row ml-5">
        <div class="col-md-6">
            <!-------------------------- PAGE TITLE -------------------------->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">Notes</h3>
                </div>
            </div>

            <!-------------------------- NOTE VIEW HEADING -------------------------->
            <div class="row mb-5">
                <div class="col-md">
                    <h5 th:text="${display == 'all' ? 'Showing All Notes' : 'Showing Recent Notes'}"></h5>
                </div>
                <div class="col-md">
                    <div class="text-right">
                        <a class="btn btn-sm btn-primary"
                           th:href="@{/notes(display=${display == 'all' ? 'recent' : 'all'})}"
                           th:text="${display == 'all' ? 'Show Recent' : 'Show All'}">Show Recent</a>
                        <!-- TODO: Rename nBtn class -->
                        <button type="button" class="btn btn-sm btn-success ml-3 newBtn">Add Note</button>
                    </div>
                </div>
            </div>

            <!-------------------------- NOTES -------------------------->
            <div class="row">
                <div class="col-md-12">

                    <!-------------------------- NOTE -------------------------->
                    <div class="row mb-5 note-entry" th:each="note : ${notes}">
                        <div class="col-md">
                            <div class="card bg-light shadow">
                                <div class="card-header">
                                    <h5 class="mb-0" th:text="${note.title}"></h5>
                                </div>
                                <div class="card-body" th:text="${note.body}"></div>
                                <div class="card-footer padding-bottom-0">
                                    <div class="row mb-0">
                                        <div class="col-md timestamp" th:text="${note.createdAt}">
                                        </div>
                                        <div class="col-md text-right">
                                            <a class="btn btn-sm btn-dark editBtn"
                                               th:href="@{/notes/{id}(id=${note.id})}"><i
                                                    class="fa fa-edit"></i></a>
                                            <button class="btn btn-sm btn-dark ml-3 deleteBtn"
                                                    th:href="@{/notes/{id}(id=${note.id})}"><i
                                                    class="fa fa-trash-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------- MODAL FORM WRAPPER -------------------------->
    <div th:replace="fragments/addNoteModal::addNoteModal"></div>
    <div th:replace="fragments/editNoteModal::editNoteModal"></div>
    <div th:replace="fragments/deleteNoteModal::deleteNoteModal"></div>

    <div th:replace="fragments/general::footer"></div>
</div>
</body>
</html>