<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Update Password</title>

    <!--/*/ <th:block th:include="fragments/general.html :: head">
        </th:block> /*/-->

</head>
<body>
<div class="container-fluid h-100">
    <div th:replace="fragments/general::navbar (${session.userInContext})"></div>

    <div class="row">
        <form class="col-md-4" th:object="${userPasswordDto}" th:action="@{'/user/' + *{username} + '/edit/password'}"
              method="post">
            <div class="row">
                <div class="col-md">
                    <h3 class="page-title">Update Password</h3>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label th:for="${#ids.next('password')}">Current Password</label>
                </div>
                <div class="col-md-8 pl-0 pr-0">
                    <input type="password" class="form-control" th:errorClass="is-invalid" th:field="*{password}"
                           placeholder="Current password" required>
                    <div class="invalid-feedback" th:each="error : ${#fields.errors('password')}"
                         th:text="${error}"></div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label th:for="${#ids.next('newPassword')}">New Password</label>
                </div>
                <div class="col-md-8 pl-0 pr-0">
                    <input type="password" class="form-control" th:errorClass="is-invalid" th:field="*{newPassword}"
                           placeholder="New password" required>
                    <div class="invalid-feedback" th:each="error : ${#fields.errors('newPassword')}"
                         th:text="${error}"></div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label th:for="${#ids.next('confirmPassword')}">Confirm Password</label>
                </div>
                <div class="col-md-8 pl-0 pr-0">
                    <input type="password" class="form-control" th:errorClass="is-invalid" th:field="*{confirmPassword}"
                           placeholder="Confirm password" required>
                    <div class="invalid-feedback" th:each="error : ${#fields.errors('confirmPassword')}"
                         th:text="${error}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-4">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger btn-block" onclick="window.history.back()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:replace="fragments/general::footer"></div>
</div>
</body>
</html>