<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Update Password</title>

    <!--/*/ <th:block th:include="fragments/general.html :: head">
        </th:block> /*/-->

</head>
<body>
<div class="container col-md-12 h-100">
    <div th:replace="fragments/general::navbar"></div>

    <form class="col-md-4">
        <div class="row">
            <h3 class="col-md-12 page-title">Update Password</h3>
        </div>
        <div class="row form-group">
            <label class="col-md-4" for="currentPasswordInput">Current Password</label>
            <input type="password" class="col-md-8 form-control" id="currentPasswordInput"
                   placeholder="Current password">
        </div>
        <div class="row form-group">
            <label class="col-md-4" for="newPasswordInput">New Password</label>
            <input type="password" class="col-md-8 form-control" id="newPasswordInput" placeholder="New password">
        </div>
        <div class="row form-group">
            <label class="col-md-4" for="confirmPasswordInput">Confirm Password</label>
            <input type="password" class="col-md-8 form-control" id="confirmPasswordInput" placeholder="New Password">
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-4">
                <div class="row form-group">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-danger btn-block">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div th:replace="fragments/general::footer"></div>
</div>
</body>
</html>