<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Account Settings</title>

    <!--/*/ <th:block th:include="fragments/general.html :: head">
        </th:block> /*/-->

</head>
<body>
<div class="container-fluid h-100">
    <div th:replace="fragments/general::navbar (${session.userInContext})"></div>

    <div class="row ml-5" th:object="${user}">
        <div class="col-md-4">
            <!-------------------------- PAGE TITLE CONTENT -------------------------->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">Account Settings</h3>
                </div>
            </div>

            <!-------------------------- ACCOUNT INFO CONTENT -------------------------->

            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-light shadow">
                        <div class="card-header">
                            <h5>Account Info</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless mb-0">
                                <tr>
                                    <th width="200px">Username:</th>
                                    <td th:text="*{username}"></td>
                                </tr>
                                <tr>
                                    <th width="200px">First Name:</th>
                                    <td th:text="*{firstName}"></td>
                                </tr>
                                <tr>
                                    <th width="200px">Last Name:</th>
                                    <td th:text="*{lastName}">White</td>
                                </tr>
                                <tr>
                                    <th width="200px">Roles:</th>
                                    <td>
                                        <ul class="list-group">
                                            <li class="list-group-item" th:each="role : *{roles}" th:text="${role.type}"></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="card-footer text-right">
                            <a class="text-right" th:href="@{'/user/' + *{username} + '/edit/info'}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card bg-light shadow">
                        <div class="card-header">
                            <h5>Settings</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless mb-0">
                                <tr>
                                    <td><a th:href="@{'/user/' + *{username} + '/edit/password'}">Change password</a></td>
                                </tr>
                                <tr>
                                    <td><a th:href="@{'/user/' + *{username} + '/delete'}">Delete account</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/general::footer"></div>
</div>
</body>
</html>