@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: floralwhite;
    color: black;
}

h1, h2, h3 {
    color: #136854;
}

p {
    font-size: 14px;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {

}

#body {
    padding: 10px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1200px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
}

#banner {
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: beige;
}

#banner #banner-img {
    float: left;
}

#header-nav {
    overflow: hidden;
    background-color: #136854;
}

#header-nav a {
    float: left;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

#header-nav a:hover {
    background-color: #DDD;
    color: black;
}

#header-nav a.active {
    background-color: #4CAF50;
    color: white;
}

dl {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

dt, dd {
    font-size: 12px;
    padding: 5px;
}

input[type="button"], input[type="submit"] {
    font-size: 14px;
}

input[type="text"] {
    padding: 4px;
    border: 1px groove black;
}

#note-form-table {
    border-collapse: collapse;
}

#note-form-table td.table-left {
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#note-form-table td.table-right {
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    font-size: 12px;
}

label.error-field-label {
    color: #E80000;
}

#note-form-container {
    width: 550px;
}

#note-form-table #note-form-buttons {
    padding-top: 5px;
}

.success-message {
    color: green;
    background-color: #ECFFD8;
    background-image: url(success.png);
    margin-bottom: 20px;
}

.error-message {
    color: #E80000;
    background-color: #FEE;
    background-image: url(error.png);
    margin-bottom: 10px;
}

.success-message, .error-message {
    width: 550px;
    border: 1px solid #D8D8D8;
    line-height: 20px;
    font-size: 12px;
    padding: 5px 5px 5px 35px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

input[type="text"].error-field-input, textarea.error-field-input {
    border: 1px solid #E80000;
    border-radius: 4px;
}

textarea {
    border: 1px groove black;
    border-radius: 4px;
    resize: none;
}

input[name="filter"] {
    float: left;
}

#filter-buttons {
    float: right;
}

#filter-form-table {
    border-collapse: collapse;
}

p, #filter-description {
    font-weight: bold;
    margin-top: 0px;
    vertical-align: middle;
    display: inherit;
    font-size: 14px;
}

p, #footer-message {
    font-weight: normal;
    font-size: 12px;
}

.dl-container {
    margin-top: 15px;
    margin-bottom: 15px;
}