@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: floralwhite;
    color: black;
}

h1, h2, h3 {
    color: #136854;
}

p {
    font-size: 14px;
}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding: 10px 10px 60px;
    width: 100%;
    max-width: 1200px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

#banner {
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: beige;
}

#banner #banner-img {
    float: left;
}

#header-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #136854;
    height: 36px;
}

#header-nav ul li {
    float: left;
    position: relative;
    font-size: 16px;
}

#header-nav a.active {
    background-color: #4CAF50;
}

#header-nav a:link, #header-nav a:visited {
    text-decoration: none;
    color: white;
}

#header-nav ul li a, #header-nav ul li a:visited {
    display: block;
    color: white;
    width: 104px;
    height: auto;
    line-height: 16px;
    padding: 10px;
    text-align:center;
}

#header-nav ul li a:hover {
    display: block;
    color: black;
    background-color: #DDD;
    line-height: 16px;
    padding: 10px;
}

#header-nav ul li ul, #header-nav ul li:hover ul li ul {
    display: none;
}

#header-nav ul li:hover ul {
    display:block;
    position:absolute;
    top:36px;
    left:0;
    height:auto;
}

#header-nav ul li:hover ul li a {
    display:block;
    text-align:left;
    border-bottom:1px solid #FFF;
}

#header-nav ul li:hover ul li:hover ul {
    display:block;
    position:absolute;
    left:124px;
    top:0;
}

table.text-table {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;

}

th.account-table-header {
    width: 80px;
}

th.note-table-header {
    width: 40px;
}

th.text-table-header {
    font-weight: bold;
    margin-right: 5px;
}

th.text-table-header, td.text-table-data {
    font-size: 14px;
    padding: 5px;
    float: left;
    text-align: left;
}

td.text-table-option {
    font-size: 14px;
    padding: 0px 5px 0px 5px;
    float: left;
}

input[type="button"], input[type="submit"] {
    font-size: 14px;
}

input[type="text"], input[type="password"], textarea {
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
}

.form-table {
    border-collapse: collapse;
}

.form-table td.table-left {
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.form-table td.table-right {
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    font-size: 14px;
}

label.error-field-label {
    color: #E80000;
}

.form-container {
    width: 550px;
}

.form-table .form-buttons {
    padding-top: 5px;
}

.success-message {
    color: green;
    background-color: #ECFFD8;
    background-image: url(/resources/images/success.png);
    margin-bottom: 20px;
}

.error-message {
    color: #E80000;
    background-color: #FEE;
    background-image: url(/resources/images/error.png);
    margin-bottom: 10px;
}

.success-message, .error-message {
    width: 508px;
    border: 1px solid #D8D8D8;
    line-height: 20px;
    font-size: 12px;
    padding: 5px 5px 5px 35px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

input[type="text"].error-field-input, textarea.error-field-input {
    border: 1px solid #E80000;
    border-radius: 4px;
}

textarea {
    resize: none;
}

input[name="filter"] {
    float: left;
}

#filter-buttons {
    float: right;
}

#filter-form-table {
    border-collapse: collapse;
}

p, #filter-description {
    font-weight: bold;
    margin-top: 0;
    vertical-align: middle;
    display: inherit;
    font-size: 14px;
}

#footer-message {
    font-weight: normal;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.box-container {
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}